<%- include('../layout/header.ejs') %>
    
    <form action="<%=  typeof room != 'undefined'?'/room/update/'+room.id:'/room/store' %>" method="post">
        <input value="<%= typeof room != 'undefined'?room.title:'' %>" type="text" name="title" id="">
        <input value="<%= typeof room != 'undefined'?room.descreption:'' %>" type="text" name="descreption" id="">

        <input type="text" list="topic" name="topicName">

        <datalist id="topic">
            <select>
                <% topic.forEach((element)=>{  %>
                    <option value="<%= element.name %>"></option>
                    
                <% })  %>
            </select>
        </datalist>
        <select name="userId">
            <% users.forEach((element)=>{ %>
                <option value="<%= element.id %>"><%= element.name %></option>
            <% }) %>
        </select>
        <input type="submit" name="" id="">
    </form>

    <% if(typeof room != 'undefined'){ %>
    <form action="<%='/room/delete/'+room.id %>" method="post">
        <input type="submit" name="" id="" value="delete">
    </form>
    <% } %>

<%- include('../layout/footer.ejs') %>