<%- include('../layout/header.ejs') %>

    <% rooms.forEach(element=>{ %>
         <p>
             <a href="room/show/<%= element.id %>">
                 
                 <%= element.descreption %>---<%= element.title %>
             </a>

             <a href="room/edit/<%= element.id %>">edit</a>
        </p>
    <%   })  %>

<%- include('../layout/footer.ejs') %>