<%- include('../layout/header.ejs') %>
<%- include('../layout/filter.ejs') %>
    <br><br>
    <a href="/room/create">create</a>
    <% rooms.forEach(element=>{ %>
         <p>
             <a href="room/show/<%= element.id %>">
                 <p>created by: <%= element.user.dataValues.name  %> </p>
                 <p>room topic: <%= element.topic.dataValues.name %></p>
                <%= element.title %> ---  <%= element.descreption %>
             </a>

             <a href="room/edit/<%= element.id %>">edit</a>
        </p>
    <%   })  %>

<%- include('../layout/footer.ejs') %>